[submodule "glfw"]
	path = glfw
	url = https://github.com/glfw/glfw
[submodule "bx"]
	path = bx
	url = https://github.com/bkaradzic/bx
[submodule "bimg"]
	path = bimg
	url = https://github.com/bkaradzic/bimg/
[submodule "bgfx"]
	path = bgfx
	url = https://github.com/bkaradzic/bgfx/
[submodule "export-compile-commands"]
	path = export-compile-commands
	url = git@github.com:tarruda/premake-export-compile-commands.git
